@tailwind base;
@tailwind components;
@tailwind utilities;

.bgColor {
    background-color: red;
}

body{
    background-color: rgb(18, 18, 18)
}

.mainContent{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(30, 30, 31, 0.63);  
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    
}
.leftContent{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(30, 30, 31, 0.63);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.profilePic{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(47, 47, 49, 0.63);
    border-radius: 12px;
    z-index: -10;
}

.myTagline{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(47, 47, 49, 0.63);
    border-radius: 12px;
    text-align: center;
}

.lineStyle{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(47, 47, 49, 0.63);
}

    